<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Error</title>

    <link href="http://twbs.docs.org.ua/dist/css/bootstrap.min.css" rel="stylesheet">


    <link href="http://twbs.docs.org.ua/examples/dashboard/dashboard.css" rel="stylesheet">

  

    <script src="http://twbs.docs.org.ua/assets/js/ie-emulation-modes-warning.js"></script>
  </head>

  <body>

    <div class="container">
      <h2>Something is wrong!!!</h2>
      <h2>DataBase Connection is failed or some object reference is null!!!</h2>

    </div> <!-- /container -->
    <script src="http://twbs.docs.org.ua/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>